@font-face {
    font-family: DroidSansFallback;src:
   url('../fonts/DroidSansFallbackFull.ttf');
    }
@font-face {font-family: DroidSerif; src: url('../fonts/DroidSerif-Regular.ttf');
}
  body {
    padding: 1; margin: 0;}
  canvas{
    vertical-align: top;
      }


  header{
    position:absolute;
    }
  nav{
      position:absolute;
      }

  div.sketch-holder {
    position:absolute;
     left: 0px;
     top: 0px;
     z-index: -2;
  }

  div.sketch-holder2 {
    position:absolute;
     left: 0px;
     top: 0px;
     z-index: -1.5;

  }
  h1{
      font-family: 'DroidSansFallback',sans-serif;
      color: #c6c1c1;
      font-size:2.5em;
      position: relative;
      bottom: 50%;
      left:10%;
      }
  h2{
      position:relative;
      font-family: 'DroidSerif',serif;
      color:#c6c1c1;
      font-size: 2.2em;
      bottom: 45%;
      left:20%;
    }
  h3{
      position:absolute;
      font-family: 'Droid Serif',serif;
      opacity:50%;
      color:#c6c1c1;
      font-size: 3em;
    }
    #smallTitle{
      position:absolute;
      left: 0px;
      top: 0px;

    }
    .infoHeader{


    }
#custom-bootstrap-menu{
  padding:0;
  margin-bottom: 0;

}
#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);



}
#custom-bootstrap-menu.navbar-default {
    font-size: 18px;
    background-color: rgba(248, 248, 248);
    border-width: 1px;
    border-radius: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(119, 119, 119, 1);
    background-color: rgba(235, 233, 230, .1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(200, 100, 100,1);
    background-color: rgba(50,50,50,.2);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:active {
    color: rgba(200, 100, 100,1);
    background-color: rgba(50,50,50,.2);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(181, 185, 199);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #b5b9c7;
    margin:5px;
    border:0;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #b5b9c7;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #b5b9c7;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #f8f8f8;
}
